# Node modules
node_modules/

# Production builds
dist/
build/

# Local environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# --- Python Specifc ---
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pytest / Test cache
.pytest_cache/
.tox/
.noscript/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
htmlcov/

# Local database / JSON mock data
src/todos.json
